# Default settings for the pipeline stages.
# These can be overridden in the stage settings below.
#

pipeline_id: test

defaults:
    # Number of CPU cores to use for the task
    cores: 1
    # Maximum memory in gigabytes for a cluster job
    mem: 4
    # VLSCI account for quota
    account: VR0002
    queue: main 
    # Maximum allowed running time on the cluster in Hours:Minutes
    walltime: '1:00'
    # Load modules for running a command on the cluster.
    modules:
    # Run on the local machine (where the pipeline is run)
    # instead of on the cluster. False means run on the cluster.
    local: True 

# Stage-specific settings. These override the defaults above.
# Each stage must have a unique name. This name will be used in
# the pipeine to find the settings for the stage.

stages:
    stage1:
        cores: 1
        walltime: '0:02'
        mem: 1 
        modules: ''
    stage2:
        cores: 1
        walltime: '0:02'
        mem: 1 
        modules: ''
    stage3:
        cores: 1
        walltime: '0:02'
        mem: 1 
        modules: ''
    stage4:
        cores: 1
        walltime: '0:02'
        mem: 1 
        modules: ''
    stage5:
        cores: 1
        walltime: '0:02'
        mem: 1 
        modules: ''


# The input files.

files:
   # Sample s1 has 3 lanes
   - s1.lane1.0
   - s1.lane2.0
   - s1.lane3.0
   # Sample s2 has 1 lane
   - s2.lane1.0
   # Sample s3 has 1 lane
   - s3.lane1.0
