# Default settings for the pipeline stages.
# These can be overridden in the stage settings below.
#

pipeline_id: test

defaults:
    # Number of CPU cores to use for the task
    cores: 1
    # Maximum memory in gigabytes for a cluster job
    mem: 4
    # VLSCI account for quota
    account: VR0002
    queue: main 
    # Maximum allowed running time on the cluster in Hours:Minutes
    walltime: '1:00'
    # Load modules for running a command on the cluster.
    modules:
    # Run on the local machine (where the pipeline is run)
    # instead of on the cluster. False means run on the cluster.
    local: True 

# Stage-specific settings. These override the defaults above.
# Each stage must have a unique name. This name will be used in
# the pipeine to find the settings for the stage.

stages:
    fastqc:
        cores: 1
        walltime: '0:30'
        mem: 1 
        modules: ''
# The input files.

files:
   - s1.fastq.gz
   - s2.fastq.gz
